body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(160, 155, 155);
    margin-bottom: 5%;

}

/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
/* .pagination a.active {
    background-color: dodgerblue;
    color: white;
} */

/* Add a grey background color on mouse-over */
/* .pagination a:hover:not(.active) {
    background-color: #ddd;
} */


/* Style the active/current link */
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

table,th, td{
    border: 2px solid black;
}
table{
    width: 800px;
}
th, td{
    width: 200px;
}

.tableContent{
    display: flex;
    flex-direction: column;
}